.nav-button a:link, a#sitename:link, .nav-button a:visited, a#sitename:visited
{
	text-decoration:none; 
	color: white;
}
.nav-button
{
	padding: 0.5em 1em;
}
.nav-button:hover
{
	background-color: #939393;
	cursor: pointer;
}
body
{
	margin: 0;
	background: #e5e5e5
}
.navigation
{
	background-color: #333333;
	padding: 0.5em 10%; 
	position: fixed; 
	color: white; 
	width: 80%;
	-moz-box-shadow: 0px 0px 20px black; /* Firefox 3.6 and earlier*/
	-webkit-box-shadow: 0px 0px 20px black; /* Safari */
	box-shadow: 0px 0px 20px black;
}
ul.nav-right, ul.ft-right
{
	float: right; 
	list-style: none; 
	margin: 0;
}
li.nav-button, ul.ft-right li
{
	display: inline;
	font-size:small;
}
#dummy-head 
{
	height: 2.5em;
}
.content-wrapper, .footer-wrapper
{
	width: 80%;
	padding: 0 10%;
	display: block;
	clear: left;
	padding-top: 1em;
}
#login-wrapper
{
/*	visibility: hidden;*/
	display: none;
}
.login-background
{
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=40); /* for IE */
	opacity: 0.4; /* CSS3 standard */
}
.login
{
	background: white;
	margin: 30%;
	position: fixed;
	width: 40%;
	height: 100px;
	padding: 1em;
	border: 5px solid gray;
	-moz-box-shadow: 0px 0px 50px black; /* Firefox 3.6 and earlier*/
	-webkit-box-shadow: 0px 0px 50px black; /* Safari */
	box-shadow: 0px 0px 50px black;
	font-size: small;
}
span
{
	color: #bbbbbb
}
.foot-wrapper
{
	display: block;
	width: 100%;
	float: right;
}
