* { 
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    color: #343434;
    font: 13px arial;
    background: transparent url(../img/body-bg.png);
}

a {
    color: #94070A;
    text-decoration: none;
}
a img {
    border: 0;
}
a:hover {
    color: #343434;
}

button[type='submit'] {
	cursor: pointer;
}

#wrapper {
    padding-top: 0px;
}
#gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent url(../img/gradient.png) no-repeat 50% -100px;
    z-index: 1;
    height: 1236px;
}
#container {
    background: transparent url(../img/header-bg.png) repeat-x top left;
    position: relative;
}
#header {
    height: 225px;
    position: relative;
    margin: 0 auto;
    width: 930px;
    z-index: 10;
}
#logo {
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 99;
}
#nav {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: 99;
}
#nav li {
    position: relative;
    list-style: none;
    margin: 0 0 0 16px;
    padding: 0;
    float: left;
    -webkit-border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E8E8E8));
    box-shadow: 1px 1px 1px #DDD;
}
#nav li a {
    display: block;
    height: 31px;
    line-height: 31px;
    font-family: 'Droid Sans', Arial;
    font-size: 16px;
    padding: 0 16px;
}
#nav li:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#FFF));
}
#nav li:hover > a {
    color: #94070A;
}
#nav li:active, #nav li.active {
    background: #94070A;
}
#nav li:active > a, #nav li.active > a {
    color: #FFF;
}
#content {
    padding: 40px;
    background: #FFF;
    width: 850px;
    margin: 50px auto 100px auto;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 10;
    position: relative;
}
#content dl {
    margin: 0;
    padding: 0;
}
#content p,
#content dd {
    line-height: 1.4em;
}
#content h1 {
    margin: 0 0 40px 0;
    padding: 0;
    font-family: 'Droid Sans', Arial;
    font-weight: normal;
    color: #363636;
    font-size: 35px;
}
#content h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: 'Droid Sans', Arial;
    font-weight: normal;
    color: #363636;
    font-size: 25px;
}
#content h3 {
    font-family: 'Droid Sans', Arial;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
#content h4 {
    color: #343434;
    font-family: 'Droid Sans', Arial;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
br {
    margin: 0;
    padding: 0;
    clear: both;
}

/* Index page */
#index #content {
    font-family: 'Droid Sans', Arial;
    padding: 10px;
    background: transparent;
    width: 940px;
    margin: 30px auto 100px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border: none;
    z-index: 10;
    position: relative;
    overflow: hidden;
}
#index #main {
    width: 620px;
    float: left;
    margin-right: 20px;
}
#index #sidebar {
    float: left;
    width: 300px;
}
#index div.content-item {
    background: #FFF;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 4px 4px 4px 4px;
}
#index div.content-item h1,
#index div.content-item h2 {
    border-bottom: 1px dotted #d2d2d2;
    padding: 15px 30px;
    margin-bottom: 10px;
}
#index div.content-item h1 {
    color: #111;
    font-size: 25px;
}
#index div.content-item div.content {
    padding: 20px 30px;
}
#index #announcements h3 {
    margin-bottom: 0;
    background: #8F684E;
    color: #FFF;
    font-size: 25px;
    padding: 15px 30px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    position: relative;
}
#index #announcements h3 a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 41px;
    color: #FFF;
    background: #A7A9AC;
    text-align: center;
    font-size: 11px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    padding-top: 17px;
}
#index #weibo h3 {
    border-bottom: 1px dotted #d2d2d2;
    padding: 14px 30px;
    font-size: 22px;
    color: #363636;
    position: relative;
    margin-bottom: 0;
}
#index #weibo h3 a {
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 37px;
    color: #F37021;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-left: 1px dotted #d2d2d2;
    padding-top: 17px;
}
#index #weibo h3 a:hover {
    background-color: #F36F21;
    color: #FFF;
}
/* Login */
#login #content {
    font-family: 'Droid Sans', Arial;
    padding: 10px;
    background: transparent;
    width: 850px;
    margin: 50px auto 100px auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border: none;
    z-index: 10;
    position: relative;
    overflow: hidden;
}
#login #content div {
	margin-bottom: 25px;
}
#login form input[type='text'],
#login form input[type='password'] {
	color: #003863;
	font-size: 25px;
	padding: 10px;
	width: 50%;
	border: 1px solid #D9D9D9;
}
#login form input:focus {
	border-color: #46648C;
}
#login form label[for='email'],
#login form label[for='password'] {
	background: #A7A9AC;
	padding: 10px;
	font-size: 25px;
	color: white;
	margin-left: 10px;
}
#login form #forgot {
	margin-left: 285px;
}
#login form button[type='submit'] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	font-size: 25px;
	padding: 10px;
	width: 200px;
	background: #46648C;
	color: white;
	border-width: 0px;
}
#login form button[type='submit']:hover {
	background-color: #00386C;
}
#login #login-oauth {
	height: 50px;
	margin: 35px 0 0 0;
	padding: 0;
}
#login #login-oauth > li {
	list-style: none;
	margin: 0 20px 0 0;
	padding: 0px;
	float: left;
}
#login #login-oauth li a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	font-size: 25px;
	padding: 10px;
	width: 200px;
	background: #F6F6F6;
	color: #F36F21;
	border: 1px solid #D2D2D2;
}
#login #login-oauth li a:hover {
	color: white;
	background-color: #F36F21;
	border-color: #F36F21;
}

/* Footer */
#footer {
    background: transparent url(../img/footer-bg.png);
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
#footer-content {
    margin: 0 auto;
    width: 930px;
    position: relative;
}
#footer p {
    position: absolute;
    right: 0;
    line-height: 55px;
    padding: 0;
    margin: 0;
}