* { 
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    color: #343434;
    font: 13px arial;
    background: transparent url(../img/body-bg.png);
}

a {
    color: #205AAF;
    text-decoration: none;
}
a img {
    border: 0;
}
a:hover {
    color: #343434;
}
#wrapper {
	padding-top: 7px;
	background: transparent url(../img/colorbar.png) repeat-x top left;
}
#container {
    background: transparent url(../img/header-bg.png) repeat-x 0px -145px;
    position: relative;
}
#header {
    height: 60px;
    position: relative;
    margin: 0 auto;
    width: 960px;
    z-index: 10;
}
#logo {
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 99;
    width: 0px;
}
#nav {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 15px;
    z-index: 99;
}
#nav li {
    position: relative;
    list-style: none;
    margin: 0 0 0 16px;
    padding: 0;
    float: left;
    -webkit-border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E8E8E8));
    box-shadow: 1px 1px 1px #DDD;
}
#nav li a {
    display: block;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    padding: 0 12px;
}
#nav li a > span {
	border-left: 2px solid #DDD;
	margin: 0 12px;	
}
#nav li:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#FFF));
}
#nav li:hover > a {
    color: #205AAF;
}
#nav li:active, #nav li.active {
    background: #205AAF;
}
#nav li:active > a, #nav li.active > a {
    color: #FFF;
}
#content {
    padding: 40px;
    background: #FFF;
    width: 860px;
    margin: 20px auto 70px;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 10;
    position: relative;
}
#content dl {
    margin: 0;
    padding: 0;
}
#content p,
#content dd {
    line-height: 1.4em;
}
#content h1 {
    margin: 0 0 40px 0;
    padding: 0;
    font-weight: normal;
    color: #363636;
    font-size: 35px;
}
#content h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: normal;
    color: #363636;
    font-size: 25px;
}
#content h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
#content h4 {
    color: #343434;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
br {
    margin: 0;
    padding: 0;
    clear: both;
}
/* ---------------------------------------- UI ---------------------------------------- */
.button-blue,
.button-orange,
.button-gray,
.button-green,
.button-option,
.button-multi-option {
	margin: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid transparent;
	font-size: 16px;
	padding: 6px 12px;
	color: white;
	cursor: default;
	display: inline-block;
}
.button-blue,
.button-option.active {
	color: white;
	border-color: #3079ED;
	background: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
}
.button-orange {
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
	background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
	background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
	background-image: -o-linear-gradient(top,#dd4b39,#d14836);
	background-image: linear-gradient(top,#dd4b39,#d14836);
}
.button-gray,
.button-option,
.button-multi-option {
	background: #F3F3F3;
	border-color: #D9D9D9;
	color: #666;
	background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
}
.button-green,
.button-multi-option.active {
	color: white;
	background: #3D9400;
	border-color: #29691D;
	background-image: -webkit-linear-gradient(top,#3d9400,#398a00);
	background-image: -moz-linear-gradient(top,#3d9400,#398a00);
	background-image: -ms-linear-gradient(top,#3d9400,#398a00);
	background-image: -o-linear-gradient(top,#3d9400,#398a00);
	background-image: linear-gradient(top,#3d9400,#398a00);
}
.button-option,
.button-multi-option {
	font-size: 13px;
	margin-bottom: 4px;
}
.button-blue:hover,
.button-orange:hover,
.button-gray:hover,
.button-green:hover,
.button-option:hover,
.button-multi-option:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.button-blue:hover,
.button-option.active:hover {
	color: white;
	border-color: #3079ED;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
}
.button-orange:hover {
	color: white;
	border-color: #B0281A;
	background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
	background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
	background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
	background-image: -o-linear-gradient(top,#dd4b39,#c53727);
	background-image: linear-gradient(top,#dd4b39,#c53727);
}
.button-gray:hover,
.button-option:hover {
	border-color: #C0C0C0;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
}
.button-green:hover,
.button-multi-option.active:hover {
	border-color: #29691D;
	background-image: -webkit-linear-gradient(top,#3d9400,#368200);
	background-image: -moz-linear-gradient(top,#3d9400,#368200);
	background-image: -ms-linear-gradient(top,#3d9400,#368200);
	background-image: -o-linear-gradient(top,#3d9400,#368200);
	background-image: linear-gradient(top,#3d9400,#368200);
}
.button-blue:active,
.button-orange:active,
.button-gray:active,
.button-green:active,
.button-option:active,
.button-multi-option:active {
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.3)
}
label.label-hint {
	background: #2D2D2D;
	padding: 6px 8px;
	font-size: 13px;
	color: white;
	margin-left: 10px;
}
div.input-select {
	position: relative;
}
input.input-text, 
div.input-select > input {
	color: black;
	font-size: 13px;
	padding: 6px;
	width: 500px;
	border: 1px solid #D9D9D9;
}
input.input-text:hover,
div.input-select > input:hover {
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.2);
}
input.input-text.disabled {
	border-color: transparent;
	background: transparent;
	border-bottom-color: #D9D9D9;
}
input.input-text.disabled:hover {
	box-shadow: none;
}
input.input-text:focus,
div.input-select > input:focus {
	border-color: #4D90FE;
	box-shadow: none;
}
div.input-select > ul {
	margin: 0;
	padding: 0;
	width: 512px;
	border: 1px solid #CCC;
	border-top-color: #D9D9D9;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	list-style: none;
	font-size: 13px;
	line-height: 26px;
	height: 130px;
	overflow: auto;
	position: relative;
	top: -3px;
	background: white;
}
div.input-select > ul::-webkit-scrollbar {
	width: 15px;
	background-color: #CCC;
}
div.input-select > ul::-webkit-scrollbar-track-piece {
	background-color: white;
}
div.input-select > ul::-webkit-scrollbar-thumb:vertical {
	background-color: rgba(0,0,0,0.2);
	height: 50px;
	border: 4px solid white;
}
div.input-select > ul::-webkit-scrollbar-thumb:vertical:hover {
	background-color: rgba(0,0,0,0.4)
}
div.input-select > ul > li {
	padding-left: 6px;
	cursor: default;
}
div.input-select > ul > li:hover {
	background: #36C;
	color: white;
}
/* -------------------- Index page -------------------- */
#index #content {
    padding: 10px;
    background: transparent;
    width: 940px;
    margin: 30px auto 100px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border: none;
    z-index: 10;
    position: relative;
    overflow: hidden;
}
#index #main {
    width: 620px;
    float: left;
    margin-right: 20px;
}
#index #sidebar {
    float: left;
    width: 300px;
}
#index div.content-item {
    background: #FFF;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 4px 4px 4px 4px;
}
#index div.content-item h1,
#index div.content-item h2 {
    border-bottom: 1px dotted #d2d2d2;
    padding: 15px 30px;
    margin-bottom: 10px;
}
#index div.content-item h1 {
    color: #111;
    font-size: 25px;
}
#index div.content-item div.content {
    padding: 20px 30px;
}
#index div.content-item div.arrow-nav {
    background: #e4e4e4;
    background-image: -moz-linear-gradient(top, #f1f1f1 0%, #e4e4e4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e4e4e4));
    height: 30px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
#index div.content-item div.arrow-nav a {
    display: inline-block;
    height: 30px;
    width: 147px;
    background-color: transparent;
    background-image: url(../img/scroll-arrows.png);
    background-repeat: no-repeat;
    background-position: 50% top;
}
#index div.content-item div.arrow-nav a.up {
    border-right: 1px solid #dfdfdf;
    width: 149px;
}
#index div.content-item div.arrow-nav a.up-inactive {
    background-position: 50% -60px;
}
#index div.content-item div.arrow-nav a.down {
    background-position: 50% -30px;
    border-left: 1px solid #f6f6f6;
}
#index div.content-item div.arrow-nav a.down-inactive {
    background-position: 50% -90px;
}
#index #announcements h3 {
    margin-bottom: 0;
    background: #0A67C5;
    color: #FFF;
    font-size: 25px;
    padding: 15px 30px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    position: relative;
}
#index #announcements h3 a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 41px;
    color: #FFF;
    background: #215BA3;
    text-align: center;
    font-size: 11px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    padding-top: 17px;
}
#index #announcements div.content {
    padding: 0;
    height: 300px;
    overflow: hidden;
}
#index #announcements div.announcement {
    border-bottom: 1px solid #f8f3e6;
    padding: 20px 30px;
}
#index #announcements div.announcement p {
    margin: 0;
    padding: 0;
}
#index #announcements div.announcement p.date {
    color: #939393;
    font-style: italic;
    font-size: 11px;
    margin-top: 4px;
}
#index #weibo h3 {
    border-bottom: 1px dotted #d2d2d2;
    padding: 14px 30px;
    font-size: 22px;
    color: #363636;
    position: relative;
    margin-bottom: 0;
}
#index #weibo h3 a {
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 37px;
    color: #0A67C5;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-left: 1px dotted #d2d2d2;
    padding-top: 17px;
}
#index #weibo h3 a:hover {
    background-color: #5fc6e5;
    color: #FFF;
}
#index #weibo div.content {
    padding: 0;
    height: 300px;
    overflow: hidden;
}
#index #weibo div.weibo {
    border-bottom: 1px solid #f8f3e6;
    padding: 20px 30px;
    color: #363636;
}
#index #weibo div.weibo p {
    margin: 0;
    padding: 0;
}
#index #weibo div.weibo p.date {
    color: #939393;
    font-style: italic;
    font-size: 11px;
    margin-top: 4px;
}
/* -------------------- Login -------------------- */
#login #content div.input-group {
	margin-bottom: 10px;
}
#login form #forgot {
	margin-left: 350px;
}
#login #login-form {
	margin-top: 20px;
}
#login #signup {
	border-top: 1px dashed #DDD;
	margin-top: 20px;
	padding-top: 20px;
}
#login-oauth > ul {
	margin: 16px 0 0;
	padding: 0;
}
#login-oauth > ul > li {
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0px;
	display: inline-block;
}
/* -------------------- Login -------------------- */
#signup #content div.input-group {
	margin-bottom: 10px;
}
/* -------------------- Sitetour -------------------- */
#sitetour #content div.input-group {
	margin-bottom: 10px;
}
#sitetour #content p {
	font-size: 22px;
    color: #939393;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 22px;
}
#sitetour div.control,
#sitetour #sitetour-second {
	margin-top: 20px;
	border-top: 1px dashed #DDD;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
#sitetour #start {
	position: absolute;
}
#sitetour #start {
	margin-left: 50%;
	left: -45px;
}
/* -------------------- Home Page -------------------- */
#home #menu {
	width: 150px;
	color: #333;
	float: left;
	margin: 0;
	padding: 0 24px 0 0;
	font-size: 13px;
	border-right: 1px solid #DDD
}
#home #menu > li {
	list-style: none;
}
#home #history-menu,
#home #service,
#home #upload {
	border-top: 1px solid #DDD;
	padding-top: 20px;
	margin-top: 15px;
}
#home #upload-progress {
	position: relative;
}
#home #upload-progress label {
	position: relative;
	z-index: 10;
}
#home #upload-progress span {
	text-indent: -9999px;
	position: absolute;
	height: 26px;
	width: 245px;
	left: 2px;
	top: 2px;
	border-right: 1px solid #DD4B39;
}
#home ul.menu {
	list-style: none;
	padding: 0;
}
#home ul.menu > li {
	font-size: 15px;
	padding: 0 15px;
	line-height: 30px;
	margin-bottom: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
#home ul.menu > li.disabled {
	color: #DDD;
}
#home ul.menu > li.active {
	color: #DD4B39;
	font-weight: bold;
	background: #EEE;
}
#home ul.menu > li:hover {
	background: #EEE;
	cursor: pointer;
}
#home ul.menu > li.disabled {
	background: transparent;
	cursor: default;
}
#home ul.menu > li:active {
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
}
#home ul.menu > li.disabled:active {
	box-shadow: none;
}
#home h4 {
	font-size: 15px;
	font-weight: bold;
}
#home #sub-menu, #home #requirement, #home #order, #home #order-detail {
	padding: 0 0 0 24px;
	float: left;
}
#home #sub-menu {
	max-width: 661px;
}
#home #requirement,
#home #order-detail {
	width: 362px;
}
#home #requirement, #home #order-detail {
	border-left: 1px solid #DDD;
	margin-left: 24px;
}
#home #order {
	max-width: 661px;
}
#home #order-detail h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
#home #requirement dl {
	padding: 4px 15px 0;
	margin-bottom: 2px;
}
#home #requirement dl:hover {
	background: #EEE;
}
#home #requirement dt {
	font-size: 15px;
	line-height: 30px;
}
#home #requirement dd {
	margin-left: 0;
}
#home #requirement dd input[type='file'] {
	margin-bottom: 12px;
}
#home #requirement dd input[type='text'][name='copy'] {
	width: 100px;
	text-align: right;
	margin-bottom: 12px;
}
#home #requirement dd input[type='text'][name='note'] {
	width: 95%;
	margin-bottom: 12px;
}
#home ul.option, #home ul.multi-option {
	list-style: none;
	margin: 0;
	padding: 0 0 8px 0;
}
#home #order-submit {
	margin: 8px 15px;
}
#home #order-detail table {
	width: 100%
}
#home #order-detail table tr {
	line-height: 30px;
	font-size: 13px;
}
#home #order-detail table tr.alt > th,
#home #order-detail table tr.alt > td {
	background: #EFEFEF;
}
#home #order-detail table th {
	padding: 0 15px;
	width: 39px;
}
#home #order-detail table td {
	padding: 0 15px;
	word-wrap: break-word;
	width: 247px;
	display: block;
}
/* -------------------- Setting -------------------- */
#setting #content table th {
	font-size: 15px;
	font-weight: normal;
	text-align: right;
	padding-right: 15px;
	vertical-align: top;
	padding-top: 10px;
}
#setting #content table td {
	padding-bottom: 6px;
}
#setting #content table input.input-text {
	margin-right: 15px;
}
#setting #content table button {
	font-size: 13px;
}
#setting #oauth {
	padding-top: 3px;
}
#setting #oauth button {
	margin-right: 10px;
}
#setting #oauth button span{
	margin: 0 6px;
}
#setting #oauth button.button-orange span{
	border-left: 1px solid white;
}
#setting #oauth button.button-gray span{
	border-left: 1px solid #999;
}
#setting #reset-password {
	border: 1px solid #CCC;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	width: 515px;	
}
#setting #reset-password input {
	width: 400px;
} 
/* -------------------- Footer -------------------- */
#footer {
    background: #2D2D2D;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid black;
    color: #CCC;
    z-index: 999;
}
#footer-content {
    margin: 0 auto;
    width: 960px;
    position: relative;
}
#footer-content > ul {
	list-style: none;
    position: absolute;
    line-height: 30px;
    padding: 0;
    margin: 0;
	left: 0;	
}
#footer-content > ul > li {
	display: inline-block;
}
#footer #notification-icon {
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	padding: 5px;
	cursor: pointer;
}
#footer #notification-icon:hover {
	background: #4C4C4C;
}
#footer #notification-icon > span {
	line-height: 20px;
	border-radius: 2px;
	background: #666;
	min-width: 20px;
	display: block;
	text-align: center;
	color: #CCC;
	font-size: 11px;
}
#footer #notification-icon.active,
#footer #notification-icon.active:hover {
	background: #EEF0F9;
	position: relative;
	top: -2px;
	padding-top: 7px;
	z-index: 500;
}
#footer #notification {
	position: absolute;
	min-height: 70px;
	width: 440px;
	bottom: 1px;
	left: 0px;
	background: white;
	z-index: 50;
	border: 1px solid #BEBEBE;
	background: white;
	-moz-box-shadow: 0px -1px 5px #ccc;
	-webkit-box-shadow: 0px -1px 5px #ccc;
	box-shadow: 0px -1px 5px #ccc;
	display: none;
}
#footer #notification.active {
	display: block;
}
#footer #notification h3 {
	padding: 18px 19px 17px;
	margin: 0;
	font-size: 13px;
	color: black;
}
#footer #notification h3 > ul {
	padding: 0;
	margin: 0;
	float: right;
}
#footer #notification h3 > ul > li {
	display: inline-block;
}
#footer #notification > div > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
#footer #notification > div > ul > li {
	border-top: 1px solid #DDD;
	background: #EEF0F9;
	color: #666;
	border-top: 1px solid #DDDFE7;
	cursor: pointer;
	padding: 18px 19px;
}
#footer #notification-content {
	display: none;
}
#footer p {
    position: absolute;
    line-height: 30px;
    padding: 0;
    margin: 0;
	right: 0;
}