/*------------------------ FUNCT ------------------------*/

.funct{
	padding-top: 30px;
	width: 400px;
	margin: auto;
}

#login, #signup, #forget{
	color: #8D79F2;
	background: #272727;
	display: none;
}

.panel h2
{
	background: #232323;
}

.field{
	padding-bottom: 10px;
}

fieldset{
	padding: 30px 30px 10px 30px;
	border-width: 0px;
}

fieldset.submit{
	padding: 0px 30px 30px 30px;
}

label{
	display: block;
	padding: 0px 0px 8px 0px;
	font-size: 14px;
}

input.checkbox{
	width: auto;
	margin: 11px;
}

input.submit{
	float: right;
}