* { 
    outline: none;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #343434;
    font: 13px arial;
    background: transparent url(../img/body-bg.png);
}

a {
    color: #94070A;
    text-decoration: none;
}
a img {
    border: 0;
}
a:hover {
    color: #343434;
}

button[type='submit'] {
	cursor: pointer;
}

#wrapper {
    padding-top: 0px;
}
#gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent url(../img/gradient.png) no-repeat 50% -100px;
    z-index: 1;
    height: 1236px;
}
#container {
    background: transparent url(../img/header-bg.png) repeat-x left top;
    position: relative;
}
#header {
    height: 225px;
    position: relative;
    margin: 0 auto;
    width: 930px;
    z-index: 10;
}
#logo {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 160px;
    z-index: 99;
}
#header span {
	position: absolute;
	bottom: 40px;
	left: 200px;
	font-style: italic;
	font-size: 3em;
}
#nav {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: 99;
}
#nav li {
    position: relative;
    list-style: none;
    margin: 0 0 0 16px;
    padding: 0;
    float: left;
    -webkit-border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E8E8E8));
    box-shadow: 1px 1px 1px #DDD;
}
#nav li a {
    display: block;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    padding: 0 16px;
}
#nav li:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#FFF));
}
#nav li:hover > a {
    color: #94070A;
}
#nav li:active, #nav li.active {
    background: #94070A;
}
#nav li:active > a, #nav li.active > a {
    color: #FFF;
}
#content {
    padding: 40px;
    background: #FFF;
    width: 850px;
    margin: 50px auto 100px auto;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 10;
    position: relative;
}
#content dl {
    margin: 0;
    padding: 0;
}
#content p,
#content dd {
    line-height: 1.4em;
}
#content h1 {
    margin: 0 0 40px 0;
    padding: 0;
    font-weight: normal;
    color: #363636;
    font-size: 35px;
}
#content h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: normal;
    color: #363636;
    font-size: 25px;
}
#content h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
#content h4 {
    color: #343434;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
br {
    margin: 0;
    padding: 0;
    clear: both;
}
/* Welcome page */
#welcome #content {
    padding: 10px;
    background: transparent;
    width: 940px;
    margin: 30px auto 100px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border: none;
    z-index: 10;
    position: relative;
    overflow: hidden;	
}
#welcome #content {
	text-align: center;
}
#welcome #content h1 {
	color: #8F684E;
	text-shadow: 4px 4px #DDD;
	font-size: 8em;
}
#welcome #content h2 {
	font-size: 4em;
}
#welcome #content h2 span {
	color: #94070A;
}
#welcome #content h3 {
	font-size: 3em;
}
#welcome #content h3 a {
	padding: 0px 20px 10px;
	margin-right: 20px; 
	width: 200px;
	border-width: 0px;
	cursor: pointer;
	border-bottom: 4px dashed #94070A;
}
#welcome #content a:hover {
	border-bottom-color: transparent;
}

/* Invitation page */
#invitation #content {
    padding: 10px;
    background: transparent;
    width: 940px;
    margin: 30px auto 100px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border: none;
    z-index: 10;
    position: relative;
    overflow: hidden;	
}
#invitation #content div {
	margin-bottom: 20px;
	text-align: center;
}
#invitation form input[type='text'] {
	color: #003863;
	font-size: 25px;
	padding: 10px;
	width: 50%;
	border: 1px solid #D9D9D9;
	text-align: center;
}
#invitation form input:focus {
	border-color: #46648C;
}
#invitation form label[for='email'] {
	background: #A7A9AC;
	padding: 10px;
	font-size: 25px;
	color: white;
	margin-left: 10px;
}
#invitation form button[type='submit'] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	font-size: 25px;
	padding: 10px;
	width: 200px;
	background: #46648C;
	color: white;
	border-width: 0px;
}
#invitation form button[type='submit']:hover {
	background-color: #00386C;
}
/* About Page */
ul#sub-nav {
    list-style:none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 35px 0;
}

ul#sub-nav li {
    float: left;
    font-weight: normal !important;
    margin-right: 10px !important;
    font-size: 35px;
    padding-left: 2px !important;
}

ul#sub-nav li span {
    margin: 0 5px 0 20px;
    color: #cfcfcf;
}
#about #content p,
#contact #content p {
    font-size: 22px;
    color: #333;
    font-weight: normal;
    line-height: 32px;
    margin: 40px 0;
}
#about #content h1 {
	color: #CCC;
	font-size: 7em;
	font-weight: bolder;
	text-align: center;
}
#about #content h1 span {
	color: #333;
}
#about ul#sub-nav li.about a { color: #363636; }
#contact ul#sub-nav li.contact a { color: #363636; }
/* Footer */
#footer {
    background: transparent url(../img/footer-bg.png);
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
#footer-content {
    margin: 0 auto;
    width: 930px;
    position: relative;
}
#footer p {
    position: absolute;
    right: 0;
    line-height: 55px;
    padding: 0;
    margin: 0;
}