#login, #signup, #forget{
	color: #CFF0FF;
	background: #1A2F36;
}

#forgetBtn:hover{
	cursor: pointer;
	color: white;
}

.lightboxClose:hover{
	color: white;
	cursor: pointer;
}

.panel h2
{
	background: #1B2429;
}

input.submit{
	float: right;
	background: #CFF0FF;
}

input.submit:hover{
	float: right;
	background: white;
}

input.uiText{
	background: white;
}