/*------------------------ PROFILE ------------------------*/

.profile{
	width: 960px;
	margin: 30px auto;
	background: #232323;
	height: 80px;
}

.profileItem{
	float: left;
	width: 155px;
	border-right: 5px solid #151515;
	padding-top: 12px;
	margin: 0px;
	height: 68px;
	color: #8D79F2;
}

.profileItem dd{
	text-align: center;
	margin-left: 0px;
}

.profileItem dt{
	text-align: center;
}

.value{
	font-size: 36px; 
}

#green{
	color: #69CA94;
}

#credit{
	color: #6CAEFF;
	float: right;
	padding-right: 30px;
	border-width: 0px;
}

#credit dd, #credit dt{
	text-align: right;
}

#creditPlus:hover{
	background: #272727;
}

/*------------------------ TASK ------------------------*/

.task{
	width: 960px;
	margin: 30px auto;
	background: #272727;
}

.task h2{
	background: #232323;
	color: #8D79F2;
}

#leftBtn, #rightBtn{
	width: 65px;
	height: 120px;
	cursor: pointer;
	font-size: 36px;
	text-align: center;
	color: #999;
	padding-top: 30px;
}

#leftBtn{
	float: left;
}

#rightBtn{
	float: right;
}

#leftBtn:hover, #rightBtn:hover{
	background: #232323;
}

.itemWrapper{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 825px;
	overflow: hidden;
	border-right: 5px solid #232323;

	/*!!! SPECIFY THE HEIGHT OF THE TASK FLOW !!!*/
	height: 150px;
	
}

.taskItem{
	background: url(../images/taskIcon.png) no-repeat 15px 20px;
	float: left;
	width: 195px;
	height: 100%;
	border-left: 5px solid #232323;
	padding: 20px 20px 0px 55px;
	color: #CCC;
	font-size: 12px;
}

/*------------------------ STORE ------------------------*/

.store{
	width: 960px;
	margin: 30px auto;
	background: #1B1F2A;
}

.store h2{
	background: #1B1F2A;
	color: #6CAEFF;
}

.store p{
	margin: 0px;
	padding: 10px 20px;
	color: #4E6178;
	background: #212634;
}

#storeMap{
	display: none;
}

#toggleMap{
	background-color: transparent;
	text-align: center;
}

#toggleMap:hover{
	color: white;
	cursor: pointer;
}

/*------------------------ STORE LIST ------------------------*/

.storeList{
	width: 990px;
}

.storeListWrapper{
	width: 960px;
	margin: 30px auto 0px;
	overflow: hidden;
}

.storeItem{
	float: left;
	width: 435px;
	min-height: 80px;
	margin: 0px 30px 30px 0px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #1A2F36 url(../images/storeListBg.png) repeat-x center top;
	border: 1px solid #243F47;
	-moz-box-shadow: 0px 0px 5px #171C1E;
	-webkit-box-shadow: 0px 0px 5px #171C1E;
	padding: 14px;
}

.storeItemAvatar{
	float: left;
	height: 70px;
	width: 70px;
	margin: 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 1px solid #1A2F36;
	-moz-box-shadow: 0px 0px 4px #171C1E;
	-webkit-box-shadow: 0px 0px 4px #171C1E;
	overflow: hidden;
}

.storeItemInfo{
	float: right;
	width: 345px;
	background-repeat: no-repeat;
}

.storeItemInfo h2{
	font-size: 20px;
	color: #CFF0FF;
}

.storeItemInfo p{
	font-size: 13px;
	color: #A9C1CC;
}

input.uiBtn1{
	float: right;
}
