/*------------------------ GENERAL ------------------------*/

.contentWrapper{
	padding: 30px 0;
}

.panel1{
	background: #1A2F36;
}

.panel1 h2{
	background: #1B2429;
	color: #CFF0FF;
}

/*------------------------ BOARD ------------------------*/

.board{
	width: 960px;
	margin: 0px auto;
}

.board p{
	margin: 0px;
	padding: 10px 20px;
	color: #4E6178;
}

/*------------------------ Status ------------------------*/

#storeStatus{
	padding: 20px 40px;
}

/*------------------------ Ctrl ------------------------*/

#storeCtrl{
	width: 110px;
	float: left;
}

#storeAvatar{
	width: 100px;
	height: 100px;
	padding: 5px;
	background: #ccc;
	border-radius: 5px;
}

#storeLock{
	margin: 20px;
}

#storeMsg{
	float: right;
	padding: 20px;
	width: 688px;
	min-height: 68px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #243F47;
	background: #1B2429;
	color: #CFF0FF;
}

#msgQuote{
	float: left;
	background: url(../images/quotationMark.png) no-repeat;
	width: 60px;
	height: 60px;
}

#msgContent{
	float: right;
	width: 628px;
	line-height: 150%;
}

#msgContent input, #msgContent textarea{
	float: right;
}

#msgChangePanel{
	display: none;
}

.uiTextareaWrapper{
	padding: 8px 2px;
}

.uiBtn1Wrapper{
	padding-top: 8px;
}

/*------------------------ TASK QUEUE ------------------------*/

.taskQueue{
	width: 960px;
	margin: 30px auto;
}

.taskQueueL{
	float: left;
}

.taskQueueR{
	float: right;
	width: 732px;
}

#taskSearch{
	width: 160px; 
	background-color: #1B2429;
	border: 1px solid #1B2429;
	-moz-box-shadow: 0px 0px 5px #171C1E;
	-webkit-box-shadow: 0px 0px 5px #171C1E;
}

/*------------------------ TASK ACCORDION ------------------------*/

#taskAccordion{
	color: #DDD;
}

.taskAccordionBottom{
	background: #1B2429;
	height: 14px;
}

#taskAccordion h3{
	margin: 0;
	padding: 18px;
	display: block;
	cursor: pointer;
	background: url(../images/taskIcon.png) no-repeat 18px 18px;
	padding-left: 58px;
	height: 32px;
	color: #DDD;
	line-height: 32px;
	font-weight: normal;
}

#taskAccordion h3:hover, #taskAccordion h3.selected{
	color: #6CAEFF;
}

#taskAccordion a{
	color: #6CAEFF;
}

.taskDetail{
	display: none;
}

#taskAccordion table{
	padding: 0 40px;
	margin-bottom: 20px;
}

#taskAccordion th{
	font-weight: normal;
	text-align: right;
	vertical-align: top;
	width: 60px;
}

#taskAccordion td{
	padding: 0px 0px 10px 14px;
	vertical-align: top;
	font-weight: normal;
}

.taskStatus{
	float: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: white;
}

.taskStatus0{
	background: #69CA94;
}

.taskStatus2{
	background: #7F95FF;
}

.taskStatus3, .taskStatus4{
	background: #8D79F2;
}

.taskStatus1, .taskStatus5{
	background: #3B4458;
}

.taskItem{
	border-bottom: 2px solid #1B2429;
}

/*---------- SCREEN LOCK ----------*/

#lockMask{
	width: 400px;
	margin: 200px auto 0;
}

#lockMask .field{
	padding: 30px;
}
