body{
	margin: 0px;
	padding: 0px;
	font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
	font-size: 14px;
	background: #1C1C1C;
}

h2{
	margin: 0px;
}

h3{
	font-size: 14px;
	display: inline;
}

li{
	text-decoration: none;
	display: inline;
	padding: 0px 8px 0px 10px;
}

a{
	text-decoration: none;
	color: #45A4FF;
}

.autoHint{ 
	color: #888888;
}

.clear{
	clear: both;
}

/*------------------------ NAV ------------------------*/

.nav{
	height: 90px;
	background: #29264D;
	border-bottom: 3px solid #494573;
}

.account{
	margin-right: 24px;
	float: right;
	background: #231D40;
	padding: 10px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	font-size: 14px;
}

.navBtn
{
	color: #45A4FF;
	cursor: pointer;
}

.sep{
	border-left: 2px solid #494573;
}

/*------------------------ CONTENT ------------------------*/

.contentWrapper{
	margin: 0px;
	padding: 1px 0px;
	background: #212121 url(../images/bg.png) repeat-x;
}

.content{
	width: 960px;
	margin: 0px auto;
	padding: 10px 0px;
}

#instruct{
	color: #7565C7;
}

#stat{
	color: #71A8B2;
}

/*------------------------ PANEL ------------------------*/

.panel{
	-moz-border-radius: 14px;
	border-radius: 14px;
	-moz-box-shadow: #151515 2px 2px 7px 0;
	-webkit-box-shadow: #151515 2px 2px 7px 0;
	box-shadow: #151515 2px 2px 7px 0;
}

.panel h2{
	font-size: 20px;
	padding: 10px 20px;
	-moz-border-radius-topleft: 14px;
	border-top-left-radius: 14px;
	-moz-border-radius-topright: 14px;
	border-top-right-radius: 14px;
	font-weight: normal;
}

/*------------------------ FOOTER ------------------------*/

.footerWrapper{
	border-top: 6px solid #191919;
}

.footer{
	width: 960px;
	margin: 0px auto;
	padding: 10px 0px;
}
