/*------------------------ TASK TYPE ------------------------*/

.taskType{
	width: 960px;
	margin: 30px auto 0px;
	background: #282828;
	height: 80px;
	background: url(../images/taskPanelBg.png) repeat-x;
	overflow: hidden;
}

.taskTypeItem{
	background: url(../images/taskPanelBg.png) repeat-x;
	float: left;
	width: 158px;
	height: 100%;
	color: #8D79F2;
	text-align: center;
}

.taskTypeBtn:hover{
	background: url(../images/taskPanelBg.png) 0px -80px repeat-x;
	cursor: pointer;
}

.taskTypeBtn.taskTypeSelected{
	background: url(../images/taskPanelBg.png) 0px -80px repeat-x;	
}

.taskTypeSep{
	float: left;
	height: 100%;
	width: 6px;
	background: url(../images/taskPanelBorder.png);
}

.taskTypeItem h3{
	font-weight: normal;
}

.taskTypeItem p{
	font-size: 18px;
	margin-top: 28px;
}

#taskSum{
	padding-top: 12px;
	color: #6CAEFF;
}

#taskSum:hover, #credit:hover{
	cursor: default;
}

#price{
	font-size: 36px;
}

#credit{
	padding: 12px 20px 0px 0px;
	color: #CAC3E4;
	float: right;
	text-align: right;
}

span{
	font-size: 14px;
}

/*------------------------ DRAWER ------------------------*/

.drawer{
	font-size: 13px;
	width: 880px;
	margin: 0px auto 30px;
	-moz-box-shadow: #151515 2px 2px 7px 0;
	-webkit-box-shadow: #151515 2px 2px 7px 0;
	box-shadow: #151515 2px 2px 7px 0;
	background: #232F32 url(../images/drawerShadowInset1.png) repeat-x;
	/* url(../images/drawerShadowInset.png) repeat-x;*/
	padding: 8px 20px;
}

.uiBtn2{
	display: none;
}

#typeWrapper{
	
}

/*------------------------ STATUS ------------------------*/

#status{
	float: left;
	color: #7F95FF;
	line-height: 24px;
}

/*------------------------ CREDIT PLUS ------------------------*/

#creditPlus{
	float: right;
	color: #606580;
	line-height: 24px;
}

/*------------------------ MAP ------------------------*/

#storeMap{
	display: none;
}

#toggleMap{
	background-color: transparent;
	text-align: center;
}

#toggleMap:hover{
	color: white;
	cursor: pointer;
}

/*------------------------ STORE LIST ------------------------*/

.storeL{
	float: left;
	width: 425px;
}

.storeR{
	float: right;
	width: 425px;
}

.storeWrapper{
	margin: 30px auto 0px;
}

.storeItem{
	float: left;
	width: 395px;
	min-height: 80px;
	margin: 0px 0px 30px 0px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #1A2F36 url(../images/storeListBg.png) repeat-x center top;
	border: 1px solid #243F47;
	-moz-box-shadow: 0px 0px 5px #171C1E;
	-webkit-box-shadow: 0px 0px 5px #171C1E;
	padding: 14px;
}

.storeItemAvatar{
	float: left;
	height: 70px;
	width: 70px;
	margin: 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 1px solid #1A2F36;
	-moz-box-shadow: 0px 0px 4px #171C1E;
	-webkit-box-shadow: 0px 0px 4px #171C1E;
	overflow: hidden;
}

.storeItemInfo{
	float: right;
	width: 300px;
	background-repeat: no-repeat;
}

.storeItemInfo h2{
	font-size: 20px;
	color: #CFF0FF;
}

.storeItemInfo p{
	font-size: 13px;
	color: #A9C1CC;
}

input.uiBtn1{
	float: right;
}

/*------------------------ TASK QUEUE ------------------------*/

.taskQueue{
	width: 960px;
	margin: 30px auto;
	background: #1B1F2A;
}

.taksQueue h2{
	background: #1B1F2A;
	color: #6CAEFF;
}

.taskQueue table{
	width: 100%;
	margin: 0px;
	color: #4E6178;
	background: #212634;
	text-align: center;
}
