/*------------------------ BOARD ------------------------*/

.board{
	width: 960px;
	margin: 30px auto;
	background: #1A2F36;
}

.board h2{
	background: #1B2429;
	color: #CFF0FF;
}

.board p{
	margin: 0px;
	padding: 10px 20px;
	color: #4E6178;
}

/*------------------------ Status ------------------------*/

#storeStatus{
	padding: 20px 40px;
}

#storeAvatar{
	float: left;
	width: 100px;
	height: 100px;
	padding: 5px;
	background: #ccc;
	border-radius: 5px;
}

#storeMsg{
	float: right;
	padding: 20px;
	width: 688px;
	min-height: 68px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #243F47;
	background: #1B2429;
	color: #CFF0FF;
}

#msgQuote{
	float: left;
	background: url(../images/quotationMark.png) no-repeat;
	width: 60px;
	height: 60px;
}

#msgContent{
	float: right;
	width: 628px;
	line-height: 150%;
}

/*------------------------ View ------------------------*/

#storeView{
	padding: 1px;
}

/*------------------------ MAP ------------------------*/

#toggleMap{
	text-align: center;
}

#toggleMap:hover{
	color: white;
	cursor: pointer;
}

#storeMap{
	padding: 1px;
	display: none;
}

/*------------------------ ORDER ------------------------*/

.order{
	width: 960px;
	margin: 30px auto;
	background: #1B1F2A;
}

.order h2{
	color: #6CAEFF;
}

.taskType{
	padding: 10px 20px;
	color: #6CAEFF;
	background: #212634;
}

.taskType:hover{
	background: #1B1F2A;
	cursor: pointer;
}

.taskDetail{
	padding: 20px 40px;
	display: block;
	color: #333;
	line-height: 200%;
	font-size: 12px;
}

.taskSelected{
	background: transparent;
}

.taskIcon{
	float: left;
	width: 128px;
	padding-top: 30px;
}

input[type='file']{
	color: #333;
	padding: 10px;
}

/*------------------------ DEAL ------------------------*/

.taskDeal{
	float: right;
	width: 680px;
	border: 1px solid #B3B3B3;
	padding: 20px;
	background: #F2F2F2;
}

.dashedLine{
	width: 100%;
	border-top: 1px solid #999;
	margin: 20px 0px;
}

/*------------------------ FILE ------------------------*/

.file{
	text-align: center;
}

/*------------------------ Config ------------------------*/

th{
	text-align: right;
	padding-top: 8px;
	padding-right: 10px;
	width: 120px;
	color: #666;
	vertical-align: top;
}

td{
	padding-top: 8px;
	width: 400px;
}

label{
	padding-left: 4px;
}

/*------------------------ Confirm ------------------------*/

.taskConfirm{
	text-align: center;
}

select{
	border: 1px solid #BDC7D8;
	padding: 2px;
}

input[type='text']{
	border: 1px solid #BDC7D8;
	padding-top: 2px;
	padding-left: 4px;
	height: 20px;
	width: 100%;
}

.tableConfirm{
	padding: 10px;
	display: block;
}